[Unit]
Description=Success Backup Telegram Bot
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/local/bin/success_backup_check
Restart=on-abort

[Install]
WantedBy=multi-user.target
